@media screen and (max-width: 545px) {
    .container {  
      width: 97vw;
    }
    
    .container h1 {
      width: 90vw;
      margin-bottom: 20px;
      font-size: 20px;
    }
  
    .formInput {
      margin-bottom: 20px;
      width: 97vw;
      padding: 10px 20px;
      border-radius: 10px;
    }
    
    .formInput input {
      background-color: rgba(255, 255, 255, 0.275);
      font-size: 16px;
      padding: 5px;
      width: 230px;
    }
    
    .formInput button {
      padding: 5px;
      font-size: 16px;
  
    }
  
  .taskList {
    margin: 5px 0;
    font-size: 16px;
    width: 97vw;
    padding: 10px 20px;
  }
  
    
  }